.question-why {
    background-color: #fff;

    &__inner {
        padding-bottom: 40px;
    }

    &__top {
        padding-top: 40px;
        padding-bottom: 40px;
        margin-bottom: 40px;
        background-color: $bg;
    }

    &__top-text {
        border-top: 3px solid $accent;
        padding-top: 40px;
        padding-bottom: 40px;
        font-size: 24px;
        font-weight: 500;
        line-height: 32px;
        color: #fff;
        padding-left: 136px;
        position: relative;

        &::before {
            position: absolute;
            content: "";
            background-image: url('../img/question-why/Message.svg');
            width: 102px;
            height: 96px;
            top: 45px;
            left: 0;

        }

    }

    &__top-btn {
        text-align: center;
        position: relative;
        z-index: 0;

        &::before {
            position: absolute;
            content: "";
            background-color: $accent;
            width: 100%;
            height: 3px;
            bottom: 14px;
            left: 0;
            z-index: -1;
        }
    }

    &__top-link {
        text-transform: uppercase;
        font-size: 24px;
        font-weight: 600;
        color: #fff;
        background-color: $bg;
        padding: 0 36px;

        &:hover {
            color: $accent;
            transition-duration: .2s;
        }

    }

    &__title {
        color: $accent;
        margin-bottom: 16px;

    }

    &__main-items {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
        border-top: 1px solid #000;
        &:nth-child(4){
             border-bottom: 1px solid #000;
        }
    }

    &__main-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 344px;

        &-img {
            padding-top: 16px;
            margin-bottom: 16px;
        }

        &-text {
            text-transform: uppercase;
            text-align: center;
            font-size: 18px;
            font-weight: 500;
            line-height: 24px;
            color: $bg;
            padding: 0 16px;
            padding-bottom: 14px;
        }
    }

    &__main-item+.question-why__main-item {
        border-left: 1px solid #000;
        position: relative;
        &::before {
            position: absolute;
            content: "";
            background-color: $accent;
            width: 27px;
            height: 27px;
            border-radius: 50%;
            border: 8px solid #fff;
            top: -14px;
            left: -14px;
            z-index: 11;
        }
        &::after {
            position: absolute;
            content: "";
            background-color: $accent;
            width: 27px;
            height: 27px;
            border-radius: 50%;
            border: 8px solid #fff;
            bottom: -14px;
            left: -14px;
            z-index: 11;
        }



    }
}