.call{
    padding-top: 40px;
    background-color: #fff;
    &__title{
        line-height: 58;
        border-bottom: 3px solid $accent;
        padding-bottom: 14px;
        margin-bottom: 46px;
    }
    &__inner{
        margin: 0 auto;
        max-width: 528px;
    }
    &__form{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}