/*ПЕРЕМЕННЫЕ ЦВЕТОВ*/
$bg:#0B1427; 
$btn:#DEDEDE;
$accent:#F47A37;
$light: #fff;


/*ПЕРЕМЕННЫЕ ШРИФТОВ*/
%montserrat-400 {
    font-family: 'Montserrat';
     font-style: normal;
     font-weight: 400;
}

%montserrat-500 {
    font-family: 'Montserrat';
     font-style: normal;
     font-weight: 500;
}

%montserrat-600 {
    font-family: 'Montserrat';
     font-style: normal;
     font-weight: 600;
}


